@import '~antd/dist/antd.css';

#root {
  height: 100%;
}
.ant-layout.layout {
  background-color: #fff;
  min-height: 100vh;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.recipes-list {
  margin: 2rem 50px;
}
.add-recipe-header {
  padding: 1rem 0;
}
.add-recipe-btn {
  position: relative;
  float: right;
  top: -3rem;
}

.recipe-card-container {
  width: 100%;
}
.recipe-card {
  height: 100%;
}
.recipe-card .ant-card-cover {
  height: calc(100% - 62px);
}
.recipe-card img {
  object-fit: cover;
  height: 100%;
}
.ant-card-meta-title {
  font-size: 14px;
}

@media (min-width: 860px) {
  .recipe-single {
    max-width: 750px;
    margin: 0 auto;
  }
  .recipe-single .image-carousel {
    width: 750px;
  }
}
@media (max-width: 859px) {
  .recipe-single {
    margin: 0 50px;
    width: 100%;
  }
  .recipe-single .image-carousel {
    max-width: 750px;
  }
}
.recipe-single {
  padding: 2rem 0;
}
.recipe-single .title {
  margin-bottom: 0;
}
.recipe-single > div {
  padding-bottom: 2rem;
}
.ant-rate-star-first, .ant-rate-star-second {
  color: #ddd;
}
.recipe-single .ingredients, .recipe-single .instructions {
  white-space: pre-line;
}
.recipe-single .ingredients {
  column-count: 2;
  column-gap: 1rem;
}
.recipe-single .ant-image-img-placeholder {
  width: 750px;
  height: 500px;
  object-fit: cover;
}
.recipe-single .source {
  margin-top: 1rem;
  font-style: italic;
}